body {
  background: #ccc url(images/bg.png) center repeat;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.login {
  box-shadow: 0px 10px 20px #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .card {
  width: 455px;
  height: 360px;
}
.login .card .login_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #2d2f32;
  border-bottom: 1px solid #2d2f32;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 1px 0px #000;
  padding: 12px 0;
}
.login .card .login_header p {
  color: #ffffff;
  text-align: center;
}
.login .card .login_middle {
  background: #1f1e23;
  border-bottom: 1px solid #2d2f32;
  border-top: 1px solid #2d2f32;
  box-shadow: 0px 1px 0px #000;
}
.login .card .login_middle .middle_form {
  margin: 40px 0 20px 0;
}
.login .card .login_middle .middle_form input[type="text"], .login .card .login_middle .middle_form input[type="password"], .login .card .login_middle .middle_form input[type="submit"] {
  background: #daf4fe;
  border-radius: 5px 5px 0 0;
  border: none;
  color: #000;
  display: block;
  margin: 0 20px;
  outline: none;
  padding: 15px 0;
  text-indent: 20px;
  width: 90%;
}
.login .card .login_middle .middle_form input[type="password"] {
  border-top: 1px solid #acabab;
  border-radius: 0 0 5px 5px;
}
.login .card .login_middle .middle_form input[type="submit"] {
  background: #00aeef;
  border-radius: 5px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #80d6f7;
  color: #fff;
  font-size: .9em;
  margin-top: 15px;
  text-transform: uppercase;
}
.login .card .login_middle .middle_form input[type="submit"]:hover {
  background: #80d6f7;
  color: #000;
}
.login .card .login_footer {
  float: left;
  width: 100%;
  background: #2d2f32;
  border-top: 1px solid #2d2f32;
  border-radius: 0 0 10px 10px;
  padding: 12px 0;
}
.login .card .login_footer .footer_left {
  float: left;
  padding: 0 0 0 6%;
  width: 56%;
}
.login .card .login_footer .footer_left p {
  color: #fff;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}
.login .card .login_footer .footer_right {
  float: left;
  width: 38%;
}
.login .card .login_footer .footer_right .twit,
.login .card .login_footer .footer_right .face {
  float: left;
  perspective: 1000px;
}
.login .card .login_footer .footer_right .twit a,
.login .card .login_footer .footer_right .face a {
  display: block;
  margin: -12px 0;
  text-indent: -999em;
  width: 85px;
  height: 77px;
  transition: 1s;
}
.login .card .login_footer .footer_right .twit a:hover,
.login .card .login_footer .footer_right .face a:hover {
  transform: rotateY(180deg);
}
.login .card .login_footer .footer_right .twit a {
  background: url(images/twitter.png) no-repeat center;
}
.login .card .login_footer .footer_right .face a {
  background: url(images/facebook.png) no-repeat center;
  border-radius: 0 0 10px 0;
}

/*# sourceMappingURL=style.css.map */
